.curr-file {
    background-color: rgb(234, 116, 142);
    position: fixed;
    left: 15vh;
    right: 15vh;
    top:25vh;
    bottom: 10vh;
    z-index: 100;
    
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.file-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.manilla-file{
    position: fixed;
}

.tabs{
    position: fixed;
    left: 15vh;
    right: 50vh;
    top:20vh;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.home, .about, .projects, .contact{
    flex-grow: 2;
    height: 5vh;
    border-radius: 25px 25px 0px 0px ;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    border: none;
    font-family: Gill;
    font-size: 4vh;
    color:rgb(231, 238, 169);
    padding-left: 4vh;
    padding-right: 4vh;
}

.tabs button:hover{
    opacity: 0.5;
    cursor: pointer;

}

.home{
    background-color: rgb(234, 116, 142);
    z-index: 90;
}

.projects{
    background-color: rgb(234, 128, 152);
    z-index: 80;
}

.about{
    background-color: rgb(234, 141, 162);
    z-index: 70;
}

.contact{
    background-color: rgb(234, 153, 171);
    z-index: 60;
    margin-right: 100px;
}

.big-caption{
    align-self: center;
    width:42vh;

}

.file-img{
    align-self: center;
    width:42vh;
    left: -50px;

}

.watermark{
    color: white;
    font-family: PGothic;
    font-size: 3vh;
    position: relative;
    bottom: 6vh;
    opacity: 0.7;
    text-align: center;

}

@media (max-width: 1200px) {
    .tabs{
        left: 15vh;
        right: 15vh;
    }


    .home{
        width: 100vh;
        height: 5vh;
    }

    .projects, .about, .contact{
        display: none;
    } 
}

@media (max-width: 1100px) {
    .file-content{
        flex-direction: column;
        

    }
    .curr-file{
        position: fixed;
        left: 5vh;
        right: 5vh;
        bottom: 5vh;
    }
    .tabs{
        left: 5vh;
        right: 5vh
    }

    .home{
        width: 100vh;
        height: 5vh;
    }
    

    .big-caption, .file-img{
        width: 23vh;
        margin: 0 0 0 0;
    }

    .file-img{
        margin-bottom: 50px;
    }

    .watermark{
        font-size: 2vh;
        bottom: 2vh;
    }
    
}
