.curr-file {
    background-color: rgb(234, 116, 142);
    position: relative;
    width:85vw;
    height: 68vh;
    border-radius: 0px 0px 0 0;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-bottom: 2vh;
    
}

.file-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.file-content.homes{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.manilla-file{
    position: relative;
    top:-5vh;
}


.tabs{
    margin-right: 10vw;
    display:flex;
    flex-direction: row;
    justify-content: left;
}

.home, .about, .projects, .contact{
    flex-grow: 2;
    height: 5vh;
    border-radius: 25px 25px 0px 0px ;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    border: none;
    font-family: Dymo;
    font-size: 4vh;
    color:#822a3e;
    padding-left: 4vw;
    padding-right: 4vw;
}

.tabs button:hover{
    opacity: 0.5;
    cursor: url(custom_cursor_hover.png),auto;
}

.home {
    background-color: rgb(234, 116, 142);
    z-index: 90;
}

.projects{
    background-color: rgb(234, 128, 152);
    z-index: 80;
}

.about{
    background-color: rgb(234, 141, 162);
    z-index: 70;
}

.contact{
    background-color: rgb(234, 153, 171);
    z-index: 60;
    margin-right: 100px;
}

.big-caption img{
    height: 47vh;
    align-self: center;

}

.file-img img{
    height: 47vh;

}

.watermark{
    color: white;
    font-family: PGothic;
    font-size: 3vh;
    opacity: 0.7;
    text-align: center;
    z-index: 200;

}

.home:hover .handwriting{
    visibility: visible;
    opacity: 1;

}

@media (max-width:1100px) {
    .home,.projects, .about, .contact{
        padding-left: 0vw;
        padding-right: 0vw;
    }
}

@media only screen and (max-width: 900px)and (max-device-width: 900px){
    .tabs{
        margin-right: 0;
    }

    .projects, .about, .contact{
        display: none;
    }

    .file-content{
        flex-direction: column;
    }

    .file-content.homes{
        flex-direction: column;
    }

    .big-caption img, .file-img img{
        height: 30vh;
    }
    .watermark{
        font-size: 2vh;
    }

}

@media (max-width: 900px){
    .tabs{
        margin-right: 0;
    }

    .projects, .about, .contact{
        display: none;
    }

    .file-content{
        flex-direction: column;
    }
    .file-content.homes{
        flex-direction: column;
    }

    .big-caption img, .file-img img{
        height: 30vh;
    }
    .watermark{
        font-size: 2vh;
    }
}

.is-mobile.tabs{
    margin-right: 0;
}

.is-mobile.projects, .is-mobile.about, .is-mobile.contact{
    display: none;
}

.is-mobile.file-content{
    flex-direction: column;
}

.is-mobile.file-content.homes{
    flex-direction: column;
}

.is-mobile.big-caption img, .is-mobile.file-img img{
    height: 30vh;
}
.is-mobile.watermark{
    font-size: 2vh;
}




